ody{
    border: solid 2px black;
    width: 700px;
    height: 110px;
    margin: 200px 400px 
}
table {
    text-align: center;
    /* margin: 10px 15px; */
  

}
tr{
    
    height: 107px !important;
}

.colorChange{
    padding-left: 10px 
}